* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 1em;
}

main {
  margin: 0 auto;
  max-width: 25em;
}

h1 {
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  text-align: center;
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--secondary);
}

button, input {
  font: inherit;
  outline: none;
}

button {
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  color: #efefef;
  cursor: pointer;
  padding: 0.3em 0.75em;
  transition: transform 30ms;
}

button:hover, button:focus {
  box-shadow: 0 0 10em rgba(255, 255, 255, 0.2) inset;
}
button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}
[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: var(--light-gray);
  color: gray;
  cursor: not-allowed;
  transform: none;
}
[disabled] button {
  text-indent: -900em;
  width: 2em;
  position: relative;
}
[disabled] button:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: var(--fg) transparent var(--fg) transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
}
@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

fieldset {
  border: none;
  padding: 2em 0;
}

input {
  background-color: var(--shadow);
  border: none;
  border-radius: 5px 0 0 5px;
  caret-color: var(--primary);
  color: inherit;
  padding: 0.25em 1em;
}
input::selection {
  background-color: var(--secondary);
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  color: var(--gray);
}

li {
  padding-bottom: 1em;
}

aside {
  animation: notify ease-in-out 10s;
  background-color: var(--shadow);
  border-radius: 5px;
  bottom: 0;
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  position: fixed;
  transform: translateY(10em);
  right: 0;
}
aside footer {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-top: 0.5em;
}
aside footer *:first-child {
  color: var(--success);
}
aside footer *:last-child {
  color: var(--gray);
}
@keyframes notify {
  0% { transform: translateY(10em) }
  5% { transform: translateY(0) }
  95% { transform: translateY(0) }
  100% { transform: translateY(10em) }
}

@media (prefers-color-scheme: white) {
  html {
    --bg: #ffffff;
    --fg: #000000;
    --gray: #aaa;
    --shadow: #2a2a2a;
    --light-gray: #444;
  }

  input:focus {
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.02) inset;
  }
}

.animals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animalImg {
    height: 200px;
    width: 200px;
}

.animal__back {
    height: 150px;
    width: 100px;
    border-radius: 10px;
    margin: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.feedBtn {
    margin: 4px;
    background-color: #ffea00;
    color: black;
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.donationBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nickname, .animal__place {
    background-position: center;
    background-repeat: no-repeat;
    font-size: 22px;
    text-align: center;
}


.card_cantainer {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.front_side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; 
    backface-visibility: hidden; 
    border-radius: 30px;
    border: 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.back_side {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s; 
    backface-visibility: hidden; 
    border-radius: 30px;
    border: 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.front_side {
    background-color: #fff;
}
  
.back_side {
    background-color: #fff;
    transform: rotateY(180deg); 
}

.card:hover .front_side {transform: rotateY(180deg);}
.card:hover .back_side {transform: rotateY(360deg);}

.info {
    margin-top: 2rem;
}
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
  
.modal__container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: black;
}
  
.title__closeBtn {
    display: flex;
    justify-content: flex-end;
}
  
.modal__container .body {
    color: black;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modal__container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal__container .footer button {
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}


/*# sourceMappingURL=/src.e31bb0bc.css.map */